$lt-gray: #ddd;
$background-dark: #512DA8;
$background-moredark: #4527A0;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark: #512DA8;
$primary-color: #673ab7;
$primary-color-light: #d1c4e9;
$accent-color: #fff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

@mixin  zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron{
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
  min-height: 150px;
}
mat-toolbar{
  background-color:  $background-dark;
  color: floralwhite;
}
.active{
  background: $background-moredark;
}